<div class="box box-solid box-default no-margin">


    <div class="box-body property-filter-box bg-gray-light">

        <div class="row">
            <div class="col-md-12">
                <div class="property-filter-title">
                    <h4 class="">Must Haves
                        <small class="pull-right property-filter-description">
                            Want more Advanced filters ? <a href="" class="text-black"><b>Click Here</b></a>
                        </small>
                    </h4>
                </div>

            </div>

        </div>
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <select class="property-filter-select form-control bg-gray-light">
                        <option>Bedrooms</option>
                        <option>option 2</option>
                        <option>option 3</option>
                        <option>option 4</option>
                        <option>option 5</option>
                    </select>
                </div>
            </div>

            <div class="col-md-3">

                <div class="form-group">
                    <select class="property-filter-select form-control bg-gray-light">
                        <option>Bathrooms</option>
                        <option>option 2</option>
                        <option>option 3</option>
                        <option>option 4</option>
                        <option>option 5</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <select class="property-filter-select form-control bg-gray-light">
                        <option>Square Feet</option>
                        <option>option 2</option>
                        <option>option 3</option>
                        <option>option 4</option>
                        <option>option 5</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                <select class="property-filter-select form-control bg-gray-light">
                    <option>Lot Size</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                </select>
            </div>
            </div>

        </div>

    </div>
</div>
